:root{
	--primary: seagreen  ;
}

*{
	scroll-behavior: smooth;
	box-sizing: border-box;
}

body{
font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}
header{
	background-color: background: rgb(45,51,51);
background: linear-gradient(90deg, rgba(45,51,51,1) 34%, rgba(139,69,19,1) 100%);
	color: white;
	position: sticky;
	top: 0;

}
.container{
	width: 1200px;
	margin: auto;
}
.flex{
     display: flex;
     align-content: space-between;
     justify-content: center;
}

.logo{
	flex-basis: 30%;
		font-family: 'Dancing Script', cursive;
}

nav{
    flex-basis: 70%;
}

nav ul{
	display: flex;
	justify-content: flex-end;
	list-style: none;
}

header nav a{
	color: white;
	text-decoration: none;
	font-size: 20px;
	padding: 12px;
	display: block;
	transition: 0.3s ease-in-out;
}


header nav a:hover{
	color: seagreen;
}

header .logo a{
	color: seagreen;
	text-decoration: none;
	
}

.banner-section{
	/*background: rgb(131,168,81);
background: linear-gradient(90deg, rgba(131,168,81,1) 43%, rgba(223,21,21,1) 100%);*/
padding: 50px;
}

.banner-section img{
	height: 550px;
	width: 1200px;
	object-fit: cover;
	border-radius: 30px;
}

.feature-section{
	padding-top: 60px;
	padding-bottom: 60px;
}

.feature{
	padding: 20px;
	text-align: center;
	margin: 15px;
	border-radius: 30px;
}

.feature h2{
     font-size: 30px;
     margin: 0;
}

.feature p{
    margin: 0;
    font-size: 20px;
    padding-top: 20px;
}
.color1{
  background-color: #dcf4ff;
  font-family: 'Dancing Script', cursive;
}

.color2{
  background:antiquewhite ;
  font-family: 'Dancing Script', cursive;
}

.color3{
  background:beige ;
  font-family: 'Dancing Script', cursive;
}


.feature color1{
font-family: 'Open Sans', sans-serif;
}



.feature color2{
font-family: 'Open Sans', sans-serif;
}


.feature color3{
font-family: 'Open Sans', sans-serif;	
}




.abotme-section{
	padding-top: 40px;
	padding-bottom: 40px;
}

.aboutme{
	flex-basis: 100%;
	padding: 30px;
}

.aboutme h2{
	font-size: 40px;
	
}
.aboutme span{
	color: darkblue;
	text-transform: uppercase;
	font-family: 'Hurricane', cursive;
}
.aboutme p{
	font-size: 23px;
	text-align: justify;
	font-family: 'Dancing Script', cursive;
}

.mypicture{
	flex-basis: 40%;
	padding: 30px;
}

.mypicture img{
	width: 400px;
	height: 400px;
	object-fit: cover;
	border-radius: 50%;
	box-shadow: 9px 8px 50px 0px #0000006e;
}
.mypicture 2{
	width: 100%;
	height: 500px;
	object-fit: cover;
	border-radius: 15%;
	box-shadow: 9px 8px 50px 0px #0000006e;
}
	


.wrap{
	flex-wrap: wrap;
}

.aboutme-page .container{
	justify-content: center;
}

.aboutme-page .aboutme{
	flex-basis: 70%;
	max-width: 70%;
	padding: 30px;
}
.aboutme-page .mypicture{
	flex-basis: 100%;
	max-width: 50%;
	padding: 30px;
}


.video-section{
	padding-top: 100px;
	padding-bottom: 100px;
	background: antiquewhite;
}

iframe{
	border-radius: 40px;
}

div img{
	width: 250px;
	height: 200px;
	object-fit: cover;
	border-radius: 50%;
	box-shadow: 9px 8px 50px 0px #0000006e;
}



  .This{
  	font-family: 'Dancing Script', cursive;
  }

   
   .Games{
   	color: darkblue;
   }


   .Learning{
   	color: darkblue;
   }

   .Watching{
   	color: darkblue;
   }

   .gallery-section{
   	padding: 100px 30px;
   }

   .gallery-section .flex{
   	flex-wrap: wrap;
   }

   .gallery{
   	flex-basis: 25%;
   	padding: 5px;
   	box-sizing: border-box;
   }

   .gallery img{
   	width: 100%;
   	display: block;
   	border-radius: 20px;
   }

   footer{
background: linear-gradient(90deg, rgba(45,51,51,1) 34%, rgba(139,69,19,1) 100%);
   	padding: 100px 0px;
   }


.f_column{
	flex-basis: 33.33%;
	max-width: 33.33%;
}

.f_column h4{
	color: #fff;
	font-size: 22px;
	margin: 0;
}

.f_column a{
	color: #fff;
	display: block;
	padding: 5px 0px;
	text-decoration: none;
}

.f_column ul{
	padding: 0;
	margin: 0;
	list-style: none;
}



.contact-section{
	padding: 80px 0;
}


.contact-form{
	max-width: 600px;
	margin: auto;
}


.contact-form h1{
	font-size: 50px;
	text-align: center;
	font-weight: 900;
}

form{}

.input{
	margin-bottom: 15px;
}

.input strong{
	display: block;
	font-size: 18px;
	margin-bottom: 7px;
}

.input input{
	width: 100%;
	border: 2px solid #bababa;
	padding: 10px 20px;
	border-radius: 4px;
	font-size: 18px;

}

.input textarea{
	width: 100%;
	border: 2px solid #bababa;
	padding: 10px 20px;
	border-radius: 4px;
	font-size: 18px;
}

.gender{
	margin-bottom: 15px;
}

.gender strong{
	display: block;
	font-size: 20px;
	margin-bottom: 7px;
}

.gender input{
	width: 25px;
	height: 25px;
}

.gender label{
	font-size: 20px;
	vertical-align: top;
	margin-right: 20px;
}


.subject{
	margin-bottom: 15px;
}

.subject strong{
	display: block;
	font-size: 20px;
	margin-bottom: 7px;
}

.subject input{
	width: 25px;
	height: 25px;
}

.subject label{
	font-size: 20px;
	vertical-align: top;
	margin-right: 20px;
}

.submit{
	position: relative;
	width: 27%;
	overflow: hidden;
}
.submit span{
	transition: .45s all ease-in-out;
	width: 20%;
	height: 128%;
	transform: rotate(17deg);
	background: #b0daff;
	position: absolute;
	left: -40px;
	top: -10px;
}
.submit input{
	padding: 13px 35px;
	font-size: 20px;
	border: 2px solid #0088ff;
	border-radius: 4px;
	overflow: hidden;
	background-color: #0088ff;
	color: #fff;
	transition: .25s all ease-in-out;
	cursor: pointer;
}
.submit:hover .span{
    left: 120%;
}


.logo{
	border-radius: 20px;
}


@keyframes shape1{
	from{
		transform: scale(1) rotate(0deg);
	}
	to{
		transform: scale(1.1) rotate(160deg);
	}
}

















